<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chrono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [forceOverscroll]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chrono</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Check if process exists -->
  <ng-container *ngIf="process; else noProcess">
    <ion-grid>
      <ion-row>
        <!-- COLONNE HEADER -->
        <ion-col size="2">
          <app-chrono-header [process]="process"></app-chrono-header>
        </ion-col>

        <!-- COLONNE STEPS -->
        <ion-col size="4">
          <app-list-step [steps]="chrono.chronoSteps"></app-list-step>
        </ion-col>

        <!-- COLONNE MESURE -->
        <ion-col size="6">
          <!-- Check if isStarted$ and currentStep$ are truthy -->
          <ng-container *ngIf="isStarted$ | async; else startButton">
            <ng-container *ngIf="currentStep$ | async as currentStep">
              <app-current-step
                [currentStep]="currentStep"
                [timer]="elapsedTime$ | async"
                (currentStepEmmiter)="onUpdateCurrentStep($event)"
              ></app-current-step>
            </ng-container>
            <!-- Fallback button if currentStep$ is falsy -->
            <ng-template #startButton>
              <ion-button
                (click)="buttonBoxClick('start')"
                expand="block"
                fill="clear"
                shape="round"
              >
                START CHRONO
              </ion-button>
            </ng-template>
          </ng-container>
          <!-- If isStarted$ is falsy -->
          <ng-template #startButton>
            <ion-button
              (click)="buttonBoxClick('start')"
              expand="block"
              fill="clear"
              shape="round"
            >
              START CHRONO
            </ion-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- If no process is available -->
  <ng-template #noProcess>
    <ion-spinner name="bubbles"></ion-spinner>
  </ng-template>
</ion-content>
