<!-- Groupe de Valeur Ajoutée (VA) -->
<ion-card [formGroup]="form">
  <ion-card-header>
    <ion-card-title>Étape en cours</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- Timer -->
    <ion-item class="timer">
      {{ timer | date : "mm:ss" }}
    </ion-item>
    <!-- Description -->
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <!-- type de temps -->
    <ion-segment value="va" #timeType formControlName="timeType">
      <ion-segment-button value="va" (click)="measureTime('va')">
        <ion-label>Valeur ajouté (VA)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nva">
        <ion-label>Non-Valeur Ajoutée (NVA)</ion-label>
      </ion-segment-button>
      <!-- Ajoutez d'autres types de temps VA si nécessaire -->
    </ion-segment>
    @if (form.get('timeType')?.value === 'nva') {
    <!-- Groupe de Non-Valeur Ajoutée (NVA) -->
    <ion-card>
      <ion-card-content>
        @for (nvaType of nvaTypes; track $index) {
        <ion-button expand="block" (click)="measureTime(nvaType.value)">{{
          nvaType.viewValue
        }}</ion-button>
        }

        <ion-button expand="block" (click)="takePhoto()"
          >Prendre une photo</ion-button
        >
      </ion-card-content>
    </ion-card>
    }
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-buttons slot="start">
      <ion-button
        (click)="onPauseClick()"
        expand="block"
        fill="clear"
        shape="round"
        slot="start"
      >
        Pause
      </ion-button>
      <ion-button
        slot="end"
        (click)="onNextClick()"
        expand="block"
        fill="clear"
        shape="round"
        [disabled]="form.invalid"
      >
        Etape Suivante
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
